.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

composer.lock

# IDE Files
#-------------------------
/nbproject/
.idea/*

.editorconfig
composer.json
contributing.md
license.txt
readme.rst
